/*-------------------------------------------------------------------

    ***ONLY MINIFIED VERSION IS REFERENCED IN THEME***

    1) VARIABLES
    2) COMPONENTS
    3) ELEMENTS
    4) PRIMARY NAVIGATION
    6) FOOTER
    7) PAGE LAYOUTS / PAGE TEMPLATES
    8) SIDEBAR / WIDGETS
    11) BLOG / ARCHIEVE / CATEGORIES
    12) SINGLE POST
    13) STYLEGUIDE
    14) 404 / ERROR PAGE
    ...
    X) RESPONSIVNESS BREAKING POINTS

-------------------------------------------------------------------*/

@charset "utf-8";

/*-------------------------------------------------------------------
    VARIABLES
-------------------------------------------------------------------*/
@font-face {
    font-family: 'zona_probold';
    src: url('../fonts/zonapro-bold-webfont.woff2') format('woff2'),
         url('../fonts/zonapro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'zona_prothin';
    src: url('../fonts/zonapro-thin-webfont.woff2') format('woff2'),
         url('../fonts/zonapro-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {
  --WhiteColor: #ffffff;
  --GreyColor: #efeee6;
  --DarkGreyColor: #7b7666;
  --BlackColor: #000000;
  --PrimaryColor: #a5cb5a;
  --SecondaryColor: #005c75;
  --TertiaryColor: #0051a2;
}


/*-------------------------------------------------------------------
    COMPONENTS
-------------------------------------------------------------------*/
html,body { font-size: 16px; margin: 0 !important; padding-top: 1px; }
* { box-sizing: border-box; transition: all .25s ease-in-out 0s; }


/*-----------------------------------------
      TYPOGRAPHY
-----------------------------------------*/
h1, h2, h3, h4, h5, h6,
.widget h1, .widget h2, .widget h3,
.widget h4, .widget h5, .widget h6 {
  color: var(--TertiaryColor);
  font-weight: 400;
  font-family: 'zona_probold';
  line-height: 1.2;
  transition: none;
}
h1, .widget h1 { font-size: 3em; }
h2, .widget h2 { font-size: 2.25em; }
h3, .widget h3 { font-size: 1.5em; line-height: 1.16;  }
h4, .widget h4 { font-size: 1.125em; color: var(--PrimaryColor); line-height: 1.16; }
h5, .widget h5 { font-size: 1em; color: var(--PrimaryColor); line-height: 1.16; }
h6, .widget h6 { font-size: .875em; color: var(--PrimaryColor); line-height: 1.16; }
p, a, ol, ul {
  color: var(--BlackColor);
  font-size: 1em;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
  line-height: 1.35;
  margin: 0 0 1.25rem 0;
  word-wrap: break-word;
  transition: none;
}
a { color: var(--TertiaryColor); font-weight: bold; margin: 0; text-decoration: none; transition: all .25s ease-in-out 0s; }
a:focus, a:hover { outline: none; text-decoration: underline; }
ul { padding: 0; }
ol { padding: 0 0 0 1rem; }
ul li {
  background-image: url(../img/icon-bullet.svg);
  background-position: left top 2px;
  background-repeat: no-repeat;
  background-size: .75rem auto;
  list-style: none;
  margin: 0 0 .75rem 0;
  padding: 0 0 0 1.5rem;
}
ul ul { margin: .75rem 0 0 20px; }
hr {
  background: var(--TertiaryColor);
  border: none;
  height: 2px;
  margin: 1.25rem 0;
  width: 100%;
}
blockquote, q {
  background-image: url(../img/icon-quote.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100px auto;
  border: none;
  padding: 60px 75px;
  quotes: none;
  margin: 3rem 0 1rem 0;
}
blockquote p, q p { font-size: 1.5em; font-weight: 700; color: var(--SecondaryColor);
  @nest &:last-child { margin: 0; }
}
.legal-text { color: var(--BlackColor); font-size: .75em; }
a.tweet {
  line-height: 20px;
  padding-left: 28px;
  position: relative;
  font-weight: 400;
  text-decoration: none;
  @nest &::before {
    background-image: url(../img/icon-twitter.svg);
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    height: 20px;
    left: 0;
    position: absolute;
    width: 20px;
  }
  @nest &:hover, &:focus { text-decoration: underline; }
}
a.page-anchor { 
  margin-top: -125px; 
  margin-bottom: 125px; 
  display: block;
  width: 1px;
  height: 1px;
  position: absolute;
  @nest &#main-anchor {margin-top: -50px; margin-bottom: 50px; }
}
.editor-contents { padding: 1rem 0; }
.section-title-container { text-align: center; padding: 2rem 0; 
  @nest & h2 { margin: 0 auto 1rem auto; text-align: center; max-width: 800px; }
  @nest & p.section_subheading { 
    margin: 1rem auto 0 auto;  
    text-align: center; 
    color: var(--SecondaryColor); 
    max-width: 600px; font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    font-weight: bold; 
  }
}

/*-----------------------------------------
      BUTTONS
-----------------------------------------*/
.btn, button, .primary-btn, .btn.primary,
input[type=submit], button.search-submit {
  background-color: var(--PrimaryColor);
  background-repeat: no-repeat;
  border: 2px solid var(--PrimaryColor);
  border-radius: 6px;
  color: var(--BlackColor);
  text-transform: uppercase;
  font-size: .875em;
  font-weight: 700;
  display: inline-block;
  padding: .5rem 1.5rem;
  letter-spacing: 1px;
  text-decoration: none;
  position: relative;
  margin-bottom: .25rem;
  @nest & span { position: relative; z-index: 2; }
  @nest &::after {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    position: absolute;
    content: '';
    background-color: color( var(--PrimaryColor) shade(15%) );
    right: -2px;
    top: -2px;
    bottom: -2px;
    width: 0;
    box-sizing: border-box;
    transition: all .5s ease-in-out 0s;
  }
  @nest &:hover::after, &:focus::after { width: calc(100% + 4px); border-top-left-radius: 6px; border-bottom-left-radius: 6px; text-decoration: none; }
  @nest &.ghost {
    background-color: transparent;
    color: var(--PrimaryColor);
    @nest &:hover, &:focus {
      color: var(--WhiteColor);
    }
  }
  @nest &.icon, &.arrow {
    padding: .5rem 4rem .5rem 1.5rem;
    @nest &::after {
      background-color: color( var(--PrimaryColor) shade(15%) );
      background-image: url(../img/icon-triangle-white.svg);
      background-repeat: no-repeat;
      background-position: center right .6rem;
      background-size: .75rem .75rem;
      padding: .75rem;
      width: 2.2rem;
    }
    @nest &.pdf::after { background-image: url(../img/icon-pdf.svg); background-size: 1rem; background-position: center right .5rem; }
    @nest &:hover, &:focus { text-decoration: none; 
      @nest &::after { width: calc(100% + 4px); }
    }
  }
  @nest &.phone {
    padding: .5rem 1.5rem .5rem 3rem;
    @nest &::after {
      background-color: color( var(--PrimaryColor) shade(15%) );
      background-image: url(../img/icon-phone-white.svg);
      background-repeat: no-repeat;
      background-position: center left .6rem;
      background-size: 1rem 1rem;
      padding: .75rem;
      width: 2.2rem;
      right: auto;
      left: -2px;
      border-radius: 6px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    @nest &:hover, &:focus { text-decoration: none; 
      @nest &::after { width: calc(100% + 4px); border-top-right-radius: 6px; border-bottom-right-radius: 6px; }
    }
  }
  @nest &.email {
    padding: .5rem 2rem .5rem 4rem;
    @nest &::after {
      background-color: color( var(--PrimaryColor) shade(15%) );
      background-image: url(../img/icon-email.svg);
      background-repeat: no-repeat;
      background-position: center left .6rem;
      background-size: 1rem 1rem;
      padding: .75rem;
      width: 2.2rem;
      right: auto;
      left: -2px;
      border-radius: 6px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    @nest &:hover, &:focus { text-decoration: none; 
      @nest &::after { width: calc(100% + 4px); border-top-right-radius: 6px; border-bottom-right-radius: 6px; }
    }
  }
  @nest .dark-bg & { border-color: var(--PrimaryColor); color: var(--BlackColor); 
    @nest &:hover, &:focus { border-color: color( var(--PrimaryColor) shade(15%) ); text-decoration: none; }
  }
  @nest .dark-bg &.ghost { border-color: var(--PrimaryColor); color: var(--PrimaryColor); 
    @nest &:hover, &:focus { color: var(--WhiteColor); text-decoration: none; }
  }
}
input[type="submit"], button.search-submit {
  @nest &:hover, &:focus { background-color: color( var(--PrimaryColor) shade(15%) ); text-decoration: none; }
}

/*-----------------------------------------
      FORMS
-----------------------------------------*/
form { max-width: 800px !important; }
form ul li { background-image: none; padding: 0; }
form input, form input:focus,
form select, form select:focus,
form textarea, form textarea:focus {
  appearance: none;
  background-color: rgba(239, 238, 230, 0.41);
  border: 1px solid var(--GreyColor);
  color: var(--BlackColor);
  outline: none;
}
form input:focus, form select:focus, form textarea:focus { border-color: var(--PrimaryColor); }
select {
  background-image: url(../img/icon-dropdown.svg); 
  background-position: center right .5rem;
  background-repeat: no-repeat;
  background-size: 1rem;
}
input[type="radio"] {
  background: var(--GreyColor);
  border-radius: 50%;
  height: .875rem;
  min-width: .875rem;
  @nest &:checked {
    background-color: var(--PrimaryColor);
    border-color: var(--PrimaryColor);
  }
}
input[type="checkbox"] {
  background: var(--GreyColor);
  border-radius: 3px;
  height: .875rem;
  min-width: .875rem;
  @nest &:checked {
    background-color: var(--PrimaryColor);
    border-color: var(--PrimaryColor);
  }
}
input[type="submit"] {
  border: none;
  padding: .75rem 4rem .75rem 1.5rem;
  background-image: url(../img/submit-bg.svg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: auto 100%;
  font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif !important;
  transition: all .25s ease-in-out 0s;
  cursor: pointer;
}
.gform_wrapper.gf_browser_ie .gform_footer input.button {
  padding: .75rem 1.5rem !important;
  background-image: none;
}
.gform_wrapper * { transition: none; }
.gform_wrapper ul.gfield_checkbox li input[type=checkbox]:checked+label,
.gform_wrapper ul.gfield_radio li input[type=radio]:checked+label { font-weight: inherit !important; }
.gform_wrapper .validation_message { display: none !important; }
.gform_wrapper li.gfield.gfield_error, 
.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  border: none !important;
  padding: 0 16px 0 0 !important;
  background-color: transparent !important;
  margin-bottom: 0px !important;
}
.gform_wrapper .top_label li.gfield.gfield_error.gf_left_half { margin-right: 0 !important; }
.gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label { max-width: 1000px !important; }
.gform_wrapper.gf_browser_chrome .gfield_error input[type=email], 
.gform_wrapper.gf_browser_chrome .gfield_error input[type=number], 
.gform_wrapper.gf_browser_chrome .gfield_error input[type=password], 
.gform_wrapper.gf_browser_chrome .gfield_error input[type=tel], 
.gform_wrapper.gf_browser_chrome .gfield_error input[type=text], 
.gform_wrapper.gf_browser_chrome .gfield_error input[type=url], 
.gform_wrapper.gf_browser_chrome .gfield_error select, 
.gform_wrapper.gf_browser_chrome .gfield_error textarea, 
.gform_wrapper.gf_browser_chrome li.gfield_error.field_sublabel_above .ginput_complex input[type=text] { margin-bottom: 0 !important; }
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container { margin-top: 8px !important; } 
.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label { margin-top: 0 !important; }
.gform_wrapper .gfield_error .gfield_label { color: inherit !important; }
.LV_invalid_field { 
  border-color: #c14e3d;
  background-image: url(../img/icon-invalid.svg); 
  background-position: center right .5rem;
  background-repeat: no-repeat;
  background-size: 1rem;
}
.LV_valid_field { 
  border-color: #6eaa48;  
  background-image: url(../img/icon-valid.svg); 
  background-position: center right .5rem;
  background-repeat: no-repeat;
  background-size: 1rem;
}
textarea.LV_invalid_field, textarea.LV_valid_field { background-position: top .5rem right .5rem; }

/*-----------------------------------------
      SOCIAL MEDIA
-----------------------------------------*/
.social-link {
  background-color: #a5cb5a;
  border-radius: 6px;
  display: inline-block;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 12px;
  @nest & svg { fill: var(--BlackColor); max-width: 100%; max-height: 100%; }
  @nest &:hover, &:focus { background-color: color( var(--PrimaryColor) shade(15%) ); }
  @nest & span { width: 0; height: 0; display: inline-block; overflow: hidden; text-indent: 1000px; }
}

/*-----------------------------------------
      DARK BACKGROUND UPDATES
-----------------------------------------*/
.dark-bg { background-color: var(--TertiaryColor); }
.grey-bg { background-color: var(--GreyColor); }
.dark-bg h1, .dark-bg h2, .dark-bg h3,
.dark-bg h4, .dark-bg h5, .dark-bg h6,
.dark-bg p, .dark-bg a { border-color: var(--WhiteColor); color: var(--WhiteColor); }


/*-------------------------------------------------------------------
    ELEMENTS
-------------------------------------------------------------------*/

/*-----------------------------------------
      RESPONSIVE SIZING
-----------------------------------------*/
.flex-container { display: flex; flex-wrap: wrap; }
.clearfix::after {    
  content: "."; 
  visibility: hidden; 
  display: block; 
  height: 0; 
  clear: both; 
 }
.full-width { width: 100%; }
.max-width { margin: 0 auto; max-width: 1200px; padding-left: 10px; padding-right: 10px; }
.one-half { margin: 0 1%; width: 48%;
  @nest &.full { margin: 0; width: 50%; }
}
.one-third { margin: 0 1%; width: 31.33%;
  @nest &.full { margin: 0; width: 33.33%; }
}
.two-third { margin: 0 1%; width: 64.66%;
  @nest &.full { width: 66.66%; }
}
.one-fourth { margin: 0 1%; width: 23%;
  @nest &.full { margin: 0; width: 25%; }
}
.vertical-align-parent { display: table; }
.vertical-align-child { display: table-cell; vertical-align: middle; }

/*-----------------------------------------
      SECONDARY NAV
-----------------------------------------*/
nav.secondary-nav { margin: 3rem auto 1rem; z-index: 2; position: relative;
  @nest & ul { display: table; border-bottom: 1px solid var(--GreyColor); width: 100%; }
  @nest & li.menu-item { display: table-cell; width: auto; vertical-align: middle; 
    @nest &:focus, &:hover { position: relative; z-index: 3; }
  }
  @nest & a { color: var(--SecondaryColor); text-align: center; position: relative; letter-spacing: 1px; transition: all .5s ease-in-out 0s;
    @nest &:hover, &:focus { color: var(--PrimaryColor); }
    @nest &::after {
      position: absolute;
      content: '';
      background-color: var(--PrimaryColor);
      right: 0;
      bottom: 0;
      height: 3px;
      width: 0;
      box-sizing: border-box;
      transition: all .5s ease-in-out 0s;
    }
    @nest &:hover::after, &:focus::after { width: 100%; }
  }
}

/*-----------------------------------------
      BREADCRUMB NAV
-----------------------------------------*/
.breadcrumbs-nav {
  background-color: var(--WhiteColor);
  box-shadow: 0 -5px 26px color( var(--BlackColor) alpha(20%) );
  font-size: 1rem;    
  z-index: 1;
  position: relative;
  text-transform: uppercase;
  @nest & * { font-size: 1rem; }
  @nest & p { margin: 0; display: inline-block;
    @nest & > span > span > a { 
      text-indent: 1000px;
      overflow: hidden;
      background-image: url(../img/icon-home.svg);
      background-size: 25px;
      background-position: left center;
      background-repeat: no-repeat;
      width: 65px;
      margin-bottom: -1.15rem;
      line-height: 5;
      @nest &:hover, &:focus { background-image: url(../img/icon-home-hover.svg); }
    }
    @nest & a, & .breadcrumb_last { 
      line-height: 50px;
      position: relative;
      display: inline-block;
      height: 50px;
      padding-right: 35px;
      text-decoration: none;
      color: var(--SecondaryColor);
      @nest &:after {
        content: '';
        border-style: solid;
        position: absolute;
        border-width: 25px 0 25px 15px;
        border-color: transparent var(--WhiteColor);
        display: block;
        width: 0;
        z-index: 1;
        margin-top: -25px;
        right: 15px;
        top: 50%;
      }
      @nest &:before {
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        width: 30px;
        right: 0px;
        background: linear-gradient(to right, rgba(0,0,0,0.07) 0%,rgba(229,229,229,0) 100%);
      }
      @nest &:focus, &:hover { color: var(--PrimaryColor); }
    }
    @nest & .breadcrumb_last:focus, & .breadcrumb_last:hover { color: var(--SecondaryColor); }
  }
}

/*-----------------------------------------
      PAGE TITLES
-----------------------------------------*/
.page-title-container { 
  position: relative; 
  min-height: 475px; 
  background-color: transparent;
  transition: none;
  background-position: center; 
  background-size: cover;
  @nest & .page-title-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: color( var(--BlackColor) alpha(45%) );
    z-index: 8;
  }
  @nest & .page-title-contents { 
    position: relative; 
    z-index: 10; 
    text-align: center; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @nest & .page-icon {
      width: 100px;
      height: 100px;
      margin: 1rem auto;
      background-position: center center;
      background-size: 60px;
      background-repeat: no-repeat;
      background-color: var(--GreyColor);
      border-radius: 50%;
    }
    @nest & h1.page-title { margin: 1rem auto; max-width: 900px; }
    @nest & p.page-description { 
      color: var(--PrimaryColor); 
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 700;
      max-width: 900px;
      margin: 1rem auto 2rem auto;
    }
  }
}
.page-id-510 .page-title-contents .page-icon  , .page-id-509 .page-title-contents .page-icon { background-size: 75px; }

/*-----------------------------------------
      SLICK SLIDERS
-----------------------------------------*/
.single-slide { display: flex !important; flex-wrap: wrap; height: 550px;
  @nest & .slide-content { padding: 3rem 1.25rem 5rem 1.25rem; max-width: 600px; margin: 0 auto; height: 100%;
    @nest & h1 { font-size: 5rem; line-height: 1; margin: 0; font-family: 'zona_prothin'; }
    @nest & h2 { font-size: 3.25em; line-height: 1; margin: 0; font-family: 'zona_prothin'; }
    @nest & p.slide-subheading { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; margin: 1rem 0 2rem 0; font-size: 1em; }
    @nest .home & p.slide-subheading { font-weight: bold; text-transform: uppercase; letter-spacing: 2px; }
  }
  @nest & .slide-image {  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
ul.slick-dots { margin: 0; display: inline-flex; position: absolute; left: 25%; margin-left: calc(-300px + 1rem); bottom: 1rem;
  @nest & li { background-image: none; padding: 0; margin: 0; height: 1rem; 
    @nest & button { 
      text-indent: 1000px; 
      overflow: hidden; 
      width: .75rem; 
      height: .75rem; 
      padding: 0; 
      margin: 0 .6rem 0 0; 
      outline: none; 
      border-color: var(--WhiteColor); 
      background-color: var(--WhiteColor);
      opacity: .3;
      @nest &::after { display: none; }
      @nest &:hover, &:active { opacity: .75; border-color: var(--WhiteColor); background-color: var(--WhiteColor);  }
    }
    @nest &.slick-active button { border-color: var(--PrimaryColor); background-color: var(--PrimaryColor); opacity: 1; }
    @nest &.slick-active button:focus { opacity: .75; border-color: var(--WhiteColor); background-color: var(--WhiteColor); }
  }
}
.slick-slide { outline: none; }

/*-----------------------------------------
      GALLERIES
-----------------------------------------*/
a.fluidbox img { max-width: 100%; }
.gallery-container { padding: 3rem 0;
  @nest & .gallery-item { width: 25%; padding: .5rem; 
    @nest & .container { height: 100%; border: 3px solid #f8f8f5; padding: .5rem; text-align: center; }
  }
}
.page-id-510 .gallery-container .gallery-item { width: 20%; 
  @nest & .container { min-height: 215px; }
}

/*-----------------------------------------
      CARDS
-----------------------------------------*/
.card-container { background-color: var(--WhiteColor); padding: 2rem 0; position: relative;
  @nest &.grey-bg { background-color: var(--GreyColor); }
  @nest & h2 { margin-bottom: 1rem; text-align: center; }
  @nest & .section_subheading { 
    margin-top: 1rem; 
    text-align: center; 
    color: var(--SecondaryColor); 
    font-weight: 400;
    font-family: 'zona_probold';
  }
  @nest &.flip-card-container { padding-top: 3rem; }
  @nest &.flip-card-title-container::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 20px 15px 0;
    border-color: var(--GreyColor) transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -15px;
    bottom: -20px;
    left: 50%;
  }
}
.card-icon {
  background-color: var(--WhiteColor);
  border-radius: 6px;
  padding: 2rem;
  text-align: center;
  position: relative;
  text-decoration: none;
  @nest & .card-icon-label {
    width: 100px;
    height: 100px;
    margin: 1rem auto;
    background-position: center center;
    background-size: 60px;
    background-repeat: no-repeat;
    background-color: var(--GreyColor);
    border-radius: 50%;
  }
  @nest & h2 { 
    margin: 2rem 0;
    min-height: 53px; 
    font-size: 1.5em;
    line-height: 1.16;
    color: #0051a2;
    font-weight: 400;
    font-family: 'zona_probold';
  }
  @nest & .learn-more { text-transform: uppercase; text-decoration: none; letter-spacing: 1px;
    @nest & svg { display: inline-block; height: 1rem; vertical-align: middle; margin-top: -4px; }
  }
  @nest &:hover, &:focus { transform: scale(1.1); text-decoration: none; }
}
.card-cta {
  border-radius: 6px;
  position: relative;
  min-height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  @nest & .card-contents {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: color( var(--TertiaryColor) alpha(75%) );
    @nest & .card-icon-label {
      width: 80px;
      height: 80px;
      margin: 0 auto;
      padding: 10px;
      background-color: var(--GreyColor);
      border-radius: 50%;
      position: absolute;
      top: -40px;
      left: 50%;
      margin-left: -40px;
      @nest & img { width: 100%; }
    }
    @nest & h3 { color: var(--WhiteColor); text-align: center; padding: 0 1rem; margin: 3em 0 1em 0; min-height: 54px }
  }
  @nest & a.card-link { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
  @nest &:hover, &:focus { transform: scale(1.1); text-decoration: none; }
}
.card-overlay { background-color: var(--WhiteColor); border-radius: 6px; margin-bottom: 1rem; overflow: hidden; min-height: 415px; cursor: pointer;
  @nest &:hover svg { transform: rotate(-90deg); }
  @nest & a:focus svg { transform: rotate(-90deg); }
  @nest & .card-img { width: 100%; height: 250px; background-size: cover; background-position: center; background-repeat: no-repeat; }
  @nest & .card-info { padding: 0 1.5rem 2.5rem; position: relative; width: 100%; background: var(--WhiteColor); transition: all .5s ease-in-out 0s;
    @nest & .card-headshot { 
      opacity: 0; 
      display: inline-block; 
      background-size: cover; 
      background-position: center; 
      width: 0; 
      height: 0; 
      vertical-align: middle; 
      transition: all 0s ease-in-out 0s;
    }
    @nest & .details { display: inline-block; width: 100%; vertical-align: top; margin-left: 0; transition: all 0s ease-in-out 0s;
      @nest & h3 { margin: 0 0 .5rem 0; }
      @nest & h6 { margin: 0 0 1.5rem 0; color: var(--SecondaryColor); }
    }
    @nest & p { max-height: 0; overflow: hidden; margin: 0; }
    @nest & svg { position: absolute; bottom: 1rem; right: 1rem; height: 1.25rem; }
  }
  @nest &.open {
    @nest & .card-info {     
      position: absolute;
      padding: 1rem 1.5rem 2.5rem 1.5rem;
      left: 0;
      border-radius: 6px;
      min-height: 415px;
      margin-top: -250px;
      z-index: 10;
      @nest & .card-headshot { opacity: 1; width: 200px; height: 150px; }
      @nest & .details { width: calc(100% - 300px); margin-left: 1rem; }
      @nest & p { max-height: 800px; margin-top: 2rem; }
      @nest & svg { transform: rotate(90deg); }
    }
  }
}
.card-flip {
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;
  @nest & .front { background-color: var(--GreyColor); width: 100%;
    @nest & .card-img { width: 100%; height: 250px; background-size: cover; background-position: center; background-repeat: no-repeat; }
    @nest & h3 { margin: 1rem 0; padding: 1rem 1.5rem 3rem 1.5rem; }
    @nest & svg { position: absolute; bottom: 1rem; right: 1rem; height: 1.25rem; }
  }
  @nest & .back { background-color: var(--GreyColor); padding: 1rem; width: 100%;
    @nest & h3 { margin: 1rem 0; }
    @nest & .learn-more { position: absolute; bottom: 1rem; left: 1rem; vertical-align: middle; margin-top: -4px; text-decoration: none;
      @nest & svg { height: 1em; vertical-align: middle; margin-top: -4px; }
    }
  }
  @nest &:hover .btn::after, &:focus .btn:after { width: calc(100% + 4px); border-radius: 6px;  transition-delay: .5s;}
}
.flip-container { perspective: 1000px; transform-style: preserve-3d; }
.flip-container:hover .back, .flip-container:focus .back { transform: rotateY(0deg); }
.flip-container:hover .front, .flip-container:focus .front { transform: rotateY(180deg); }
.flip-container, .front, .back { height: 400px; }
.flipper { transition: .8s; transform-style: preserve-3d; position: relative; }
.front, .back {
  backface-visibility: hidden;
  transition: .8s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}
.front { z-index: 2; transform: rotateY(0deg); border-radius: 6px; }
.back { transform: rotateY(-180deg); border-radius: 6px; 
  @nest & blockquote {  padding: 110px 0; margin: 0;
    @nest & p { font-size: 1em; font-weight: 400; margin: 0; color: var(--BlackColor); }
    @nest & a { display: none; }
  }
}
.page-id-390 .card-container { /*ABOUT PAGE*/
  @nest & .card-container.grey-bg { background-color: var(--WhiteColor); padding-bottom: 0;
    @nest &::after { display: none; }
  }
  @nest & .card-flip { width: 23%; }
}
.page-id-391 .card-container { /*SERVICE PAGE*/
  @nest & .card-container.grey-bg { background-color: var(--WhiteColor); padding-bottom: 0;
    @nest &::after { display: none; }
  }
  @nest & .card-flip { width: 48%;
    @nest & .front, & .back  { height: 330px; }
  }
}
.page-id-507 .card-container { /*ABOUT PAGE*/
  @nest & .card-container.grey-bg { background-color: var(--WhiteColor); padding: 0;
    @nest &::after { display: none; }
  }
}

/*-----------------------------------------
      EVENT PREVIEW
-----------------------------------------*/
.event-preview { 
  background-color: var(--WhiteColor); 
  border-radius: 6px; 
  overflow: hidden;
  max-width: 850px;
  margin: 0 auto 1rem auto;
  width: 100%;
  @nest .page-id-393 &:first-child { margin-top: 3rem; }
  @nest &.full-width { max-width:100%; width: 100%; }
  @nest & .event-date {
    width: 250px;
    padding: 1rem;
    @nest & p span { display: block; font-size: 6rem; text-align: center;
      @nest &:first-child, &:last-child { opacity: .6; font-size: 1.5rem; }
    }
    @nest & a.primary-btn { display: table; margin: 0 auto; }
  }
  @nest & .event-contents { width: calc( 100% - 250px); padding: 1rem 3rem; position: relative;
    @nest & .description { padding: 0 0 1rem 0; position: relative;
      @nest & a { text-decoration: none; }
      @nest & h3 { margin-top: 0; font-weight: 400; border-bottom: 2px solid transparent; }
      @nest & a:hover h3, & a:focus h3 { border-color:var(--TertiaryColor); }
      @nest & p { font-weight: normal; }
      @nest & .learn-more { color: var(--SecondaryColor); display: block; 
        @nest & svg { display: inline-block; height: 1rem; vertical-align: middle; margin-top: -4px; }
      }
    }
    @nest & a.location { 
      font-size: .875em; 
      text-decoration: none; 
      color: var(--BlackColor); 
      border-top: 2px solid var(--GreyColor);
      padding: 1rem 0;
      display: block;
      position: absolute;
      bottom: 0;
      @nest & svg { height: 1rem; width: 1.25rem; display: inline-block; vertical-align: middle; }
      @nest &:hover, &:focus { color: var(--TertiaryColor); 
        @nest & svg { fill: var(--TertiaryColor) !important; transform: scale(1.2); }
      }
    }
  }
}

.event-preview.mini { width: 300px; margin-left: 1rem; min-height: 137.5px; position: relative; text-decoration: none;
  @nest & .event-contents { width: 100%; padding: 1rem;  
    @nest & .description h3 { margin: 0; font-size: 1.2em; text-decoration: none; border: none; }
  }
  @nest & .learn-more { text-transform: uppercase; text-decoration: none; position: absolute; bottom: 1rem; width: calc(100% - 2rem);
    @nest & svg { display: inline-block; height: 1rem; vertical-align: middle; margin-top: -4px; }
  }
  @nest &:hover svg, &:focus svg { margin-left: 50px; }
}

.home-events .event-preview { float: left;
  @nest &.first-preview { min-height: 291px; }
}

/*-----------------------------------------
      JOB PREVIEW
-----------------------------------------*/
.job-preview { background-color: var(--WhiteColor); padding: 1rem; border-radius: 6px; margin-bottom: 1rem; position: relative; text-decoration: none;
  @nest &:hover, &:focus { text-decoration: none; 
    @nest & .btn::after { width: calc(100% + 4px); border-radius: 6px; }
  }
  @nest .search-results & { width: 100%; }
  @nest & .description { padding-bottom: 100px; position: relative;
    @nest & h3 { margin-top: 0; font-weight: 400; }
    @nest & .icon-description {     
      width: 100px;
      height: 100px;
      margin: 0 auto 0 auto;
      background-position: center center;
      background-size: 60px;
      background-repeat: no-repeat;
      background-color: var(--GreyColor);
      border-radius: 50%; 
    }
    @nest & .text-description {
      width: 100%;
      margin-right: 25px;
      color: var(--BlackColor);
      font-weight: 400;
      @nest & .learn-more { text-transform: uppercase; text-decoration: none; display: block; margin-top: 10px; color: var(--TertiaryColor); font-weight: bold;
        @nest & svg { display: inline-block; height: 1rem; vertical-align: middle; margin-top: -4px; }
      }
    }
  }
  @nest & .details { 
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    border-top: 2px solid #efeee6;
    padding: 1rem 0;
    position: absolute;
    width: calc(100% - 2rem);
    bottom: 0;
    @nest & .location, & .type { margin-bottom: .5rem;
      @nest & svg { height: 1rem; width: 1.25rem; display: inline-block; vertical-align: middle; }
    }
    @nest & .icon { display: table; margin: 0 0 0 auto; }
  }
}
.hr-contact { background: var(--WhiteColor); padding: 4rem 0 5rem 0; 
  @nest & .one-half { margin-bottom: -9rem;
    @nest & img { max-width: 100%; }
    @nest & .btn { margin: 0 1rem .5rem 0; }
  }
}

/*-----------------------------------------
      STAFF PREVIEW
-----------------------------------------*/
.staff-container { padding: 1rem;
  @nest & h2 { text-align: center; }
}
.staff-preview { 
  border-radius: 6px; 
  padding: .5rem 1rem; 
  position: relative; 
  background-color: var(--WhiteColor); 
  font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  margin-bottom: 1.5rem;
  @nest & .contents { width: calc(100% - 35px); height: 100%; min-height: 140px;
    @nest & span { display: block; }
    @nest & .position { 
      color: var(--PrimaryColor); 
      text-transform: uppercase; 
      margin: 0; 
      font-size: .875em; 
      line-height: 1.16; 
      font-weight: 400; 
      font-family: 'zona_probold'; 
    }
    @nest & .details { position: absolute; bottom: .5rem; }
    @nest & .name { 
      margin: 0 0 .25rem 0; 
      font-size: .875em; 
      line-height: 1.16; 
      font-weight: 400; 
      font-family: 'zona_probold';
    }
    @nest & .title { color: var(--TertiaryColor); margin: 0 0 .25rem 0;  }
    @nest & .company { font-style: italic; margin: 0; font-weight: normal; }
  }
  @nest &.member { padding: 1.5rem .5rem 1.5rem 1.5rem;
    @nest & .contents { min-height: 0; }
  }
  @nest & a.linkedin { 
    background-color: var(--TertiaryColor); 
    width: 30px; 
    height: 30px; 
    position: absolute; 
    top: .5rem; 
    right: .5rem;
    padding: 5px;
    @nest & svg { fill: var(--WhiteColor); max-width: 14px; max-height: 14px; }
    @nest &:focus { width: 60px; }
  }
}
.staff-preview-container  .card-info .details p.title { max-height: 200px; color: var(--SecondaryColor); }
.staff-preview-container { position: relative; 
  @nest & .card-overlay { margin-bottom: 1.5rem; 
    @nest & .bio { margin-top: 1.5rem; 
      @nest & p { margin: 0 0 .75rem 0; }
    }
    @nest & a span { opacity: 0; }
  }
}
.download-cta.donation-cta { background-image: url(../img/download-cta-bg.png); background-size: 275px; }

/*-----------------------------------------
      POST PREVIEW
-----------------------------------------*/

/*-----------------------------------------
      SEARCH FORM
-----------------------------------------*/
#searchform label { font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif; }
.search-container { 
  text-align: center;
  margin-top: -2px;
  background-color: var(--DarkGreyColor); 
  position: relative;
  max-height: 0;
  overflow: hidden;
  @nest &.open { max-height: 100px; }
  @nest & .max-width { padding: .5rem 1rem 1rem 1rem; }
  @nest & form { font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif; width: 100%; max-width: 100% !important; text-align: left;
    @nest & label { display: block; color: var(--WhiteColor); text-align: left; margin-bottom: .25rem; }
    @nest & input[type='text'] {     
      height: 40px;
      border-radius: 6px;
      padding: .5rem;
      width: calc(100% - 155px);
      position: relative;
      font-size: 1.5rem;
    }
  }
  @nest & .search-close {
    position: absolute;
    right: 1rem;
    top: 33px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: .75;
    @nest & svg {
      width:100%;
      height: 100%;
      fill: #fff;
    }
    @nest &:hover { opacity: 1; }
  }
}

/*-----------------------------------------
      DONATIONS CTA
-----------------------------------------*/
.donation-cta { 
  background-color: var(--SecondaryColor);
  background-image: url(../img/donations-bg.png);
  height: 300px;
  background-repeat: no-repeat;
  background-position: 65% 50%;
  @nest & .vertical-align-parent { height: 100%; width: 100%; max-width: 1024px; }
  @nest & h2 { font-size: 4em; margin-top: 0; margin-bottom: 1rem; font-family: 'zona_prothin'; }
}

/*-----------------------------------------
      CONTENT WITH IMAGE BACKGROUND
-----------------------------------------*/
.content-with-bg { padding: 3rem 0; position: relative; background-position: center; background-size: cover; width: 100%; min-height: 400px; background-attachment: fixed;
  @nest & .contents { max-width: 1024px; margin: 0 auto; position: relative; z-index: 1; 
    @nest & h2 { font-family: 'zona_prothin'; font-size: 4em; margin-bottom: 2rem; }
    @nest & h3 { font-size: 2.25em; margin-bottom: 1rem; }
    @nest & p { max-width: 800px; margin-left: auto; margin-right: auto; }
  }
  @nest & .dark-overlay { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: color( var(--BlackColor) alpha(50%) ); }
}

/*-----------------------------------------
      SUCCESS STORIES
-----------------------------------------*/
.success-stories.card-container { padding-bottom: 4rem; }
/*-----------------------------------------
      PAGE CONTACT
-----------------------------------------*/
.page-contact-container { padding: 3rem 0;
  @nest & .contact-title { margin-top: 0; }
  @nest & form { margin-top: 2.5rem; }
  @nest & .content-title-container { text-align: center; padding: 0 0 3rem 0;
    @nest & h2 { margin: 0 0 .5rem 0; }
  }
  @nest &.grey-bg .one-half:first-child { background: var(--WhiteColor); padding: 2rem; }
}
.map-container { height: 100%; position: relative;
  @nest &.split { height: 48%; 
    @nest &.first { margin-bottom: 2%; }
  }
  @nest & .map-address{
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 2;
    background: var(--WhiteColor);
    padding: 1rem;
    border-radius: .25rem;
    font-size: .75rem;
    letter-spacing: .5px;
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  }
  @nest & .acf-map {
    width: 100%;
    height: 100%;
    min-height: 250px;
    margin: 0;
    @nest & * { transition: none; }
  }
}






ul#input_1_5 {
  @nest & li {
    width: 18%;
    margin: 0 2% 0 0;
    height: 80px;
    background: #efeee6;
    position: relative;
    background-repeat: no-repeat;
    background-size: 1.75rem;
    background-position: center top 20px;
    @nest & label { 
      position: absolute; 
      padding-top: 55px; 
      bottom: 0; 
      top: 0; 
      left: 0; 
      right: 0; 
      text-align: center; 
      max-width: 100%; 
      margin: 0; 
      border: 2px solid transparent;
    }
    @nest & input { opacity: 0; }
  }
  @nest & li.checkedd label { border: 2px solid var(--PrimaryColor); }
  @nest & li.gchoice_1_5_0 { background-image: url(../img/radio-job.svg); }
  @nest & li.gchoice_1_5_1 { background-image: url(../img/radio-shop.svg); }
  @nest & li.gchoice_1_5_2 { background-image: url(../img/radio-donate.svg); }
  @nest & li.gchoice_1_5_3 { background-image: url(../img/radio-services.svg); }
  @nest & li.gchoice_1_5_4 { background-image: url(../img/radio-general.svg); }
}

/*-------------------------------------------------------------------
    PRIMARY NAVIGATION
-------------------------------------------------------------------*/
nav { font-size: 1rem;
  @nest & * { font-size: 1rem; }
  @nest & *:focus { outline: none; }
  @nest & ul { margin: 0; padding: 0;
    @nest & li {
      background-image: none;
      display: inline-block;
      margin: 0;
      padding: 0;
      @nest & a {
        background-color: transparent;
        display: block;
        padding: .5rem 1rem;
        font-size: 1rem;
        text-decoration: none;
        margin: 0;
        overflow: hidden;
        @nest &:focus, &:hover { text-decoration: none; }
      }
    }
  }
}
.primary-nav { 
  z-index: 1000; 
  margin-top: -2px; 
  background-color: var(--WhiteColor); 
  box-shadow: 0 -5px 26px rgba(0,0,0,.20);
  font-size: 1rem;
  @nest & * { font-size: 1rem; }
  @nest & *:focus { outline: none; }
  @nest &.dark-bg { background-color: var(--TertiaryColor); }
  @nest &.is_stuck {  
    @nest & .logo-container img:first-child { max-width: 0; opacity: 0; }
    @nest & nav ul { height: 60px; }
    @nest & nav ul li a { line-height: 44px; }
  }
  @nest & a.home-link { text-decoration: none; border-bottom: 1px solid transparent;
    @nest &:focus { border-bottom: 1px solid var(--PrimaryColor); }
  }
  @nest & .logo-container { height: 100%; width: 310px; margin-top: -1rem;
    @nest & img { height: 60px; }
    @nest & img:first-child { 
      margin-right: 5px; 
      max-width: 275px; 
      opacity: 1; 
      transition: all .5s ease-in-out 0s;
    }
  }
  @nest & .mobile-menu { display: none; font-family: 'zona_probold'; }
  @nest & h2 { float: right; line-height: 60px; margin: 0 0 0 auto; }
}
.utility-nav { width: 100%; margin: 0 0 0 auto; position: relative; justify-content: flex-end;
  @nest & div.one-third { 
      border-bottom-right-radius: 6px; 
      border-bottom-left-radius: 6px;  
      background-color: var(--SecondaryColor); padding: .5rem;
      max-width: 200px;
      position: relative;
    @nest &:first-child { background-color: var(--TertiaryColor); }
    @nest &:last-child { background-color: var(--DarkGreyColor); }
    @nest & a { text-align: center; 
      @nest &:hover svg, &:focus svg { fill: var(--PrimaryColor); }
      @nest & span { text-indent: 1000px; display: block; width: 0; height: 0; overflow: hidden; } 
    }
  }
  @nest & svg { fill: var(--WhiteColor); max-width: 1rem; max-height: 1rem; }
  @nest & .social-link { padding: 0; background-color: transparent; margin: 0 1%; width: 23%; height: auto;  
    @nest &:hover svg, &:focus svg { fill: var(--PrimaryColor); }
  }
  @nest & .tool-tip-container {
    @nest & .tool-tip {
      max-height: 800px;
      z-index: -1;
      height: auto;
      max-height: 0;
      overflow: hidden;
      text-indent: 0;
      width: 300px;
      left: 0;
      margin: 0;
    }
    @nest &:focus .tool-tip, &:hover .tool-tip { opacity: 1; z-index: 1000; max-height: 500px; }
  }
  @nest & .tool-tip {
    position: absolute;
    width: 300px;
    padding: 0px;
    background: var(--GreyColor);
    border-radius: 10px;
    z-index: -1;
    padding: 1rem;
    top: 45px;
    margin-left: -150px;
    text-align: left;
    color: black;
    font-weight: 400;
    font-size: .875rem;
    box-shadow: 0px 0px 8px #888888;
    max-height: 0;
    height: 0;
    opacity: 0; 
    overflow: hidden;
    transition: all .5s ease-in-out 0s;
    @nest &::after  {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 0 15px 15px;
      border-color: var(--GreyColor) transparent;
      display: block;
      width: 0;
      z-index: 1;
      margin-left: -15px;
      top: -15px;
      left: 50%;
    }
  }
}
.primary-nav nav { margin-left: auto;
  @nest & > .social-links { display: none; }
  @nest & ul { text-align: right; height: 76px;
    @nest & li { padding: 0; vertical-align: top;
      @nest & a {
        color: var(--BlackColor);
        position: relative;
        line-height: 60px;
        @nest &::after {
          position: absolute;
          content: '';
          background-color: var(--PrimaryColor);
          right: 0;
          bottom: 0;
          height: 3px;
          width: 0;
          box-sizing: border-box;
          transition: all .5s ease-in-out 0s;
        }
        @nest &:hover, &:focus { color: var(--TertiaryColor);
          @nest &::after { width:100%; }
        }
      }
    }
    @nest & li.current_page_item a::after, & li.current-page-ancestor a::after, & li.current-menu-item a::after { width:100%; }
    @nest & li#menu-item-1013, & li#menu-item-1014 { display: none; }
    @nest & li#menu-item-403 a { position: relative; padding: .5rem 1rem .5rem 1.25rem;
      @nest &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: .8em;
        background-image: url(../img/icon-offsite.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
      @nest &:hover::before, &:focus::before { background-image: url(../img/icon-offsite-blue.svg); }
    }
    @nest & li#menu-item-398 { padding: 0 .5rem; text-transform: uppercase;
      @nest & a { border-radius: 6px; z-index: 5;
        @nest &:hover, &:focus { color: var(--BlackColor); }
        @nest &::before {
          content: '';
          background-color: var(--PrimaryColor);
          border-radius: 6px;
          position: absolute;
          overflow: hidden;
          top: 25%;
          height: 50%;
          width: 100%;
          left: 0;
          z-index: -2;
        }
        @nest &::after { 
          position: absolute;
          border-radius: 6px;
          overflow: hidden;
          top: 25%;
          height: 50%;
          right: 0;
          z-index: -1;
          background-color: color( var(--PrimaryColor) shade(15%) ); 
        }
      }
    }
  }
}


/*-------------------------------------------------------------------
    FOOTER
-------------------------------------------------------------------*/
footer#footer {
  @nest & nav { font-size: 1rem; } 
  @nest & .mobile { display: none; }
}
footer#footer .follow-container {
  background-image: url(../img/footer-top-bg.jpg);
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  padding: 2rem 0;
  @nest & .social-links { text-align: right; 
    @nest & .social-link { width: 65px; height: 65px; padding: 1.25rem;  
      @nest & svg { max-width: 25px; max-height: 25px; }
    }
  }
}
footer#footer .footer-contents {
  @nest & .top { display: flex; 
    @nest & .footer-logo { width: 150px; margin-top: -41px; }
    @nest & nav { width: 100%; text-align: right; padding: 50px 0 0 0; 
      @nest & ul { display: table; width: 100%; 
        @nest & li { text-align: center; display: table-cell; min-width: 125px; 
          @nest & a:hover, & a:focus { color: var(--PrimaryColor); }
        }
      }
    }
  }
  @nest & .bottom {
    @nest & .one-half { padding: 1rem 2rem 2rem 0; }
    @nest & .one-half:last-child { padding: 1rem 0 2rem 2rem; }
    @nest & h4 { font-weight: 400; line-height: 1.35;  }
    @nest & .post-preview {
      @nest &:first-child { margin: 0 2% 0 0; padding: 0 1rem 0 0; } 
      @nest &:last-child { margin: 0 0 0 2%; padding: 0 0 0 1rem; } 
      @nest & h5 { margin: 0 0 .5em 0; }
    }
  }
}
footer#footer .copyright-container { 
  background-color: color( var(--BlackColor) alpha(30%) );
  padding: .75rem;
  @nest & p { font-size: .75rem; display: inline-block; margin: 0; }
  @nest & #e5-credit { float: right; font-weight: 400; font-size: 1em; 
    @nest &:hover a, & a:focus { color: #e48849; }
  }
}


/*-------------------------------------------------------------------
    PAGE LAYOUTS / PAGE TEMPLATES
-------------------------------------------------------------------*/
.page-contents-container {
  @nest & img.alignleft { float: left; margin: 0 1.5rem .75rem 0; }
  @nest & img.alignright { float: right; margin: 0 0 .75rem 1.5rem; }
  @nest & img.aligncenter { display: block; margin: 1.5rem auto; }
}
.sidebar { width: 250px; 
  @nest &.left {  margin: 0 50px 0 0; }
  @nest &.right {  margin: 0 0 0 50px; }
  @nest &#styleguide-sidebar { position: fixed; top: 125px; width: 250px; left: 1rem; }
}
.sidebar-page-contents { width: calc(100% - 300px); 
  @nest &#styleguide-contents { width: 1024px; margin: 0 auto; }
}
.sidebar-template {
  @nest & aside { width: 250px; margin: 3rem 50px 1rem 0; }
  @nest & .page-main-contents { width: calc(100% - 300px); order: 2; }
}
.bluet_text_content { padding: 1rem; }
.bluet_text_content p { color: var(--BlackColor); }
.bluet_title_on_block { font-family: zona_probold; }
.back-to-top svg {
  position: fixed
  bottom: 2rem;
  right: 2rem
  height: 38px;
  background-color: #d8e9ef;
  @nest & path {  transform: rotate(-90deg); transform-origin: 50% 50%; }
}
.back-to-top span { position: absolute; opacity: 0; left: -300px; }
/*-------------------------------------------------------------------
    ABOUT
-------------------------------------------------------------------*/
.mission-container {
  @nest & .mission {
    @nest & .one-half { padding: 2rem 1rem 0 1rem;
      @nest &.mission-img img { max-width:100%; }
      @nest & h2 { font-size: 3em; padding-left: 60px; margin: 0;}
      @nest & blockquote { margin-top: 1rem; }
    }
  }
  @nest & .history { padding: 130px 0 1rem 0; margin-top: -130px;
    @nest & .one-half { padding: 1rem; 
      @nest &:last-child { margin-top: -75px; }
    }
    @nest & ul.slick-dots { right: 1rem; left: auto; margin: 0; }
  }
  @nest & .history-bg { padding: 10rem 0; position: relative; background-position: center; background-size: cover; background-attachment: fixed;
    @nest & .history-closing { max-width: 800px; margin: 0 auto; position: relative; z-index: 1; }
    @nest & .dark-overlay { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: color( var(--BlackColor) alpha(50%) ); }
  }
}
.greenworks-slider .section-title-container, .auto-slider .section-title-container { position: relative;
  @nest &::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 20px 15px 0;
    border-color: var(--GreyColor) transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -15px;
    bottom: -20px;
    left: 50%;
  }
}
.auto-slider .slick-dots {
  right: 50%;
  left: auto;
  margin-left: 0;
  margin-right: calc(-250px - 2.25rem);
}
.help-container { margin-bottom: 4rem;
  @nest & .one-half { padding: 2rem 2rem 4rem 2rem; border-radius: 6px; position: relative; 
    @nest & .btn { position: absolute; bottom: 1rem; left: 50%; transform: translateX(-50%); margin: 0; }
  }
}
.auto-pdfs { text-align: center; padding: 2rem 0;
  @nest & h4 { margin: 0; color: #0051a2; text-align: left; }
}
.roi-container { margin: 3rem 0; }
.roi { max-width: 1500px; margin: 0 auto; justify-content: center;
  @nest & .one-fourth { padding: 0 .5rem; 
    @nest & .graphic { min-height: 200px;
      @nest & canvas:focus { outline: -webkit-focus-ring-color auto 5px; }
      @nest &.people { padding: 0 1rem;
        @nest & .legend p { text-align: center;
          @nest & svg { width: auto; height: 1.3em; display: inline-block; vertical-align: bottom; fill: var(--blackColor); }
        }
        @nest & .person-container { width: 8%; margin: 0 1%;
          @nest & svg { width: 100; height: auto; display: inline-block; fill: var(--GreyColor); }
          @nest & svg.full { fill: var(--PrimaryColor); }
        }
      }
    }
    @nest & h3, & .details { max-width: 275px; margin: 0 auto; }
    @nest & h3 { margin-bottom: .5rem; }
  }
}

/*-------------------------------------------------------------------
    FLIP THE SCRIPT
-------------------------------------------------------------------*/
.card-script {
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;
  background-color: var(--GreyColor);
  @nest & .card-img { width: 100%; height: 250px; background-size: cover; background-position: center; background-repeat: no-repeat; }
  @nest & h3 { padding: 1rem; margin: 0; color: white; }
  @nest &:nth-child(1) h3 { background-color: #168278; }
  @nest &:nth-child(2) h3 { background-color: #d21446; }
  @nest &:nth-child(3) h3 { background-color: #375788; }
  @nest &:nth-child(4) h3 { background-color: #ffbf00; }
  @nest & .card-contents-intro { padding: 1rem; 
    @nest & p { margin: 0; }
  }
  @nest & .read-more { 
    color: var(--TertiaryColor); 
    font-weight: bold; 
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    position: relative;
    cursor: pointer; 
    padding: 1rem 2rem 0 1rem;
    margin-bottom: 1rem;
    display: table;
    text-transform: uppercase;
    @nest &::before { 
      content: '';
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url(../img/icon-trianlge-green.svg);
      width: 1rem;
      height: 1rem;
      position: absolute;
      right: 0;
      top: 1.2rem;
      transform: rotate(90deg);
      transition: all .5s ease-in-out 0s;
    }
  }
  @nest &.open .read-more::before { transform: rotate(-90deg); }
  @nest & .card-contents-continued { height: auto; max-height: 0; padding: 0 1rem; overflow: hidden; transition: all .75s ease-in-out 0s; }
  @nest &.open .card-contents-continued { max-height: 1000px; }
}
.impact-stat { margin: 0 0 1.5rem 0;
  @nest & .impact-number { 
    width: 200px; 
    margin-right: 1rem; 
    font-family: 'zona_probold'; 
    font-size: 3em; 
    text-align: center; 
    height: 100%; 
    color: var(--TertiaryColor);
    @nest & span {  
      border: 4px solid #a5cb5a;
      border-radius: 50%;
      width: 135px;
      height: 135px;
      display: inline-block;
      text-align: center;
      line-height: 128px;
    }
  }
  @nest & .impaact-content { width: calc(100% - 216px); 
    @nest & h3 { margin: 0 0 .5rem 0; }
    @nest & p { margin-bottom: .5rem; }
  }
}
.success-video { border-radius: 6px; overflow: hidden; height: 250px; margin-bottom: 1rem;
  @nest & iframe { width: 100%; height: 100%; }
}
.testimonies { max-width: 90%; margin: 0 auto;
  @nest & blockquote { padding-bottom: 1rem; }
  @nest & span { font-size: .65em; text-transform: uppercase; display: block; margin-top: 1rem; }
  @nest & a.tweet { display: none; }
  @nest & ul.slick-dots { margin: 0; left: 70px; }
} 


/*-------------------------------------------------------------------
    HEROS
-------------------------------------------------------------------*/
.heros-slider { position: absolute; top: 0; right: 0; bottom: 0; left: 0; overflow: hidden;
  @nest & .slick-dots { z-index: 10; margin: 0; left: auto; width: 100%; display: table; text-align: center; 
    @nest & li { display: inline-block; }
  }
}
.alm-listing li { padding: 0; }
.page-id-392 .alm-listing .alm-reveal:first-child { margin-top: 3rem; }
.hero-preview.card-post { background-color: #efeee6;
  @nest & .post-bottom { padding: 1rem 1rem 4rem 1rem; 
    @nest & h3 { margin-bottom: .75rem; }
    @nest & blockquote { background-size: 40px auto; padding: 50px 0 0 0; margin-top: 0;
      @nest & p { font-size: 1rem; color: var(--BlackColor); }
    }
  }
}


/*-------------------------------------------------------------------
    DONATIONS
-------------------------------------------------------------------*/
.retail-container { padding: 2rem 0; }
.retail-container > .flex-container { flex-wrap: nowrap; }
.retail-container .section-title-container p {   
  text-align: left;
  max-width: 800px;
  margin: 0 auto 1rem auto;
}
.hours .dark-bg { 
  margin-bottom: .5rem; 
  background-color: var(--SecondaryColor); 
  text-align: center;
  padding: 1rem;
  border-radius: 6px;
  @nest & .icon, &.arrow {
    width: 60px;
    height: 60px;
    margin: 1rem auto;
    background-position: center center;
    background-size: 40px;
    background-repeat: no-repeat;
    background-color: #efeee6;
    border-radius: 50%;
  }
}
.locations { width: calc(100% - 425px); padding: 0 5%; }
.single-location { margin-bottom: 2rem;
  @nest & p.name {     
    margin: 0 0 .75rem 0;
    border-bottom: 1px solid #d3d3d3;
    color: var(--SecondaryColor);
    line-height: 1.5em; 
    font-size: .875em;
    font-weight: 400;
    font-family: 'zona_probold';
  }
  @nest & a { color: var(--BlackColor); text-decoration: none; display: inline-block; font-weight: 400;
    @nest &.map { width: 74%; 
      @nest & span.address { display: inline-block; }
      @nest & span.directions { text-transform: uppercase; color: var(--SecondaryColor); display: inline-block; float: right; font-weight: bold;
        @nest & svg { margin-left:.5rem; height: .75rem; vertical-align: inherit;
          @nest & * { fill: var(--PrimaryColor); }
        }
      }
    }
    @nest &.phone { width: 25%; text-align: right; }
    @nest & svg { height: 1em; width: auto; vertical-align: top; margin: 2px .5em 0 0; 
      @nest & * { fill: var(--BlackColor); }
    }
  }
  @nest & a:hover, & a:focus { color: var(--TertiaryColor);
    @nest & > svg * { fill: var(--TertiaryColor); }
    }
  }
}
.accept-container { 
  @nest & .section-title-container p {   
    text-align: left;
    max-width: 800px;
    margin: 0 auto 1rem auto;
  }
  @nest & .flex-container .one-half { text-align: center;
    @nest &:first-child { border: 2px solid #a5cb5a; }
    @nest &:last-child { border: 2px solid #c67172; }
    @nest & li { text-align: left; }
    @nest & ul li { background-image: url(../img/bullet-dot.svg); background-size: 6px; background-position: left top 6px; padding: 0 0 0 .75rem;  }
    @nest & ul li ul li { background-image: url(../img/icon-bullet.svg); background-size: .75rem auto; background-position: left top 2px; padding: 0 0 0 1.5rem; }
  }
}
.other-support-container { padding: 2rem 0 5rem 0;
  @nest & .flex-container { max-width: 1024px; 
    @nest & .one-third { 
      padding: 2rem 3rem 2rem 1rem; 
      background-image: url(../img/icon-bullet.svg); 
      background-position: center right 1rem;
      background-repeat: no-repeat;
      background-size: 1rem;
      position: relative;
      border-radius: 6px;
      margin-bottom: 1rem;
      @nest & .vertical-align-parent { width: 100%;height: 100%; }
      @nest & img { width: 80%; margin: 0 auto; display: block; }
      @nest &:hover, &:focus { transform: scale(1.1) }
    }
  }
}


/*-------------------------------------------------------------------
    SIDEBAR / WIDGETS
-------------------------------------------------------------------*/
.services-nav {
  @nest & .individuals, & .businesses { 
    font-size: 1.25rem; 
    font-family: 'zona_probold';
    text-decoration: none; 
    line-height: 42px; 
    position: relative;
    padding-left: 50px;
    margin: 1.5rem 0 .75rem 0;
    display: table;
    @nest &::after{
      content: '';
      position: absolute;
      left: 0;
      height: 42px;
      width: 42px;
      border-radius: 50%;
      background-color: var(--GreyColor);
      background-size: contain;
      background-image: url('/wp-content/uploads/2016/10/icon-services-individual.svg');
      background-position: center;
      background-size: 65%;
      background-repeat: no-repeat;
    }
    @nest &:hover, &:focus { color: var(--PrimaryColor); }
  }
  @nest & .businesses::after { background-image: url('/wp-content/uploads/2016/10/icon-services-businesse.svg'); }
  @nest & .nav-container { position: relative; cursor: pointer; margin: 0 0 .25rem 0;
    @nest &::before { 
      content: '';
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url(../img/icon-trianlge-green.svg);
      width: 1rem;
      height: 1rem;
      position: absolute;
      right: .75rem;
      top: 1.25rem;
      transform: rotate(90deg);
    }
    @nest &.open::before { transform: rotate(-90deg); }
    @nest & .container-title {  
      padding: .5rem;
      background: var(--GreyColor);
      border-radius: 6px;
      margin: 0;
      font-weight: bold;
      font-size: 1rem;
      padding-right: 2.5rem;
    }
    @nest &.open ul.menu { max-height: 300px; }
    @nest & ul.menu { margin: 0; padding-top: .5rem; overflow: hidden; height: auto; max-height: 0;
      @nest & li { padding: .5rem 0; margin: 0 1rem; background-image: none;  position: relative;
        @nest & a { 
          text-decoration: none; 
          text-transform: uppercase; 
          background-repeat: no-repeat;
          background-position: center right;
          background-size: contain;
          background-image: url(../img/icon-trianlge-green.svg);
          padding-right: 1rem;
          background-size: .5rem;
          font-size: 1rem;
        }
        @nest & a::after { content: ''; position: absolute; left: 0; bottom: 0; width: 0; background-color: var(--PrimaryColor); height: 3px; transition: all .5s ease-in-out 0s; }
        @nest &.current_page_item a::after, & a:hover::after, & a:focus::after { width:100%; }
      }
    }
  }
}
.share-page { margin-top: 4rem;
  @nest & h4 { font-size: 1.25rem; color: var(--TertiaryColor); margin: 0 0 .5rem 0; }
  @nest & .social-link { margin-bottom: 5px; }
}
.post-nav { border-top: 1px solid var(--GreyColor); padding: 2rem 0; min-height: 84px; text-align: center;
  @nest & a { background-repeat: no-repeat; background-size: 16px 16px; text-decoration: none; 
    @nest &:hover, &:focus { color: var(--PrimaryColor); }
  }
  @nest & a[rel=next] { 
    float: right; 
    background-image: url(../img/icon-arrow-black-right.svg); 
    background-position: center right; 
    padding: 0 2rem 0 0;
  }
  @nest & a[rel=prev] { 
    float: left; 
    background-image: url(../img/icon-arrow-black-left.svg); 
    background-position: center left;
    padding: 0 0 0 2rem; 
  }
}

/*-------------------------------------------------------------------
    BLOG / ARCHIEVE / CATEGORIES
-------------------------------------------------------------------*/
.secondary-nav.blog-nav { margin-bottom: 4rem;
  @nest & h3 { margin-left: 1%; }
  @nest & ul { border: none; 
    @nest & li { 
      display: inline-block;
      margin: 0 1%;
      width: 31%;
      padding: .5rem;
      background: #fff;
      border: 1px solid #d8e9ef;
      border-radius: 6px;
      height: 38px;
      position: relative;
      @nest & svg {  
        float: right;
        position: absolute;
        top: -1px;
        right: 0;
        height: 38px;
        background-color: #d8e9ef;
        @nest & path { transform-origin: 50% 50%; transform: rotate(90deg); }
      }
    }
  } 
  @nest & ul li.open { border-bottom-right-radius: 0; border-bottom-left-radius: 0;
    @nest & ul { max-height: 350px;} 
    @nest & svg path { transform: rotate(-90deg); }
  }
  @nest & ul ul { 
    overflow: hidden;
    max-height: 0;
    width: 100%;
    border: none;
    transition: all 1s ease-in-out 0s;
    background: white;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px; 
    position: absolute;
    left: 0;
    right: 0;
    top: 36px;
    display: block;
    @nest & li { 
      display: block; 
      width: 100%; 
      margin: 0; 
      height: auto; 
      padding: 0;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #d8e9ef;
      @nest &:first-child { border-top: 1px solid #d8e9ef; }
      @nest & a { padding: .25rem .5rem; text-align: left; }
    }
  }
}
.alm-reveal { display: flex; flex-wrap: wrap; }
button#load-more { outline: none; background-color: var(--TertiaryColor); transition: all .25s ease-in-out 0s; 
  @nest &::after { display: none; }
  @nest &:hover, &:focus { background-color: color( var(--TertiaryColor) shade(25%) ) }
}
.card-post { 
  background-color: var(--WhiteColor); 
  border-radius: 6px; 
  position: relative; 
  overflow: hidden; 
  margin-bottom: 1.5rem;
  text-decoration: none;
  @nest .search-results & { width:100%; }
  @nest &:hover, &:focus { transform: scale(1.1); text-decoration: none; }
  @nest & .post-top { 
    width: 100%; 
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    @nest & span.post-category { 
      display: inline-block; 
      position: absolute; 
      top: 1rem; 
      left: calc(2rem - 10px); 
      right: 2rem;
      z-index: 1;
      color: var(--WhiteColor);
      font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
      font-weight: bold; 
      @nest & span.single-cat { padding: 0 10px; display: inline-block; margin: 0 0 8px 0; border-left: 2px solid #fff; 
        @nest &:first-child { border-left: 0; }
      }
    }
    @nest & .dark-overlay { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: color( var(--BlackColor) alpha(50%) ); }
  }
  @nest & .post-bottom { padding: 1rem 2rem 4rem 2rem; 
    @nest & p { font-weight: normal; }
    @nest & .learn-more { 
      text-transform: uppercase; 
      text-decoration: none; 
      letter-spacing: 1px; 
      color: var(--SecondaryColor);
      position: absolute;
      bottom: 1rem;
     @nest & svg { display: inline-block; height: 1rem; vertical-align: middle; margin-top: -4px; }
    }
  }
  @nest & a.card-link { position: absolute;top: 0; right: 0; bottom: 0; left: 0;}
}

/*-------------------------------------------------------------------
    SINGLE POST
-------------------------------------------------------------------*/
.breadcrumbs-nav .post-date { font-weight: bold; color: var(--SecondaryColor); display: inline-block; float: right; line-height: 50px; }
#comments { 
  @nest & .wc-comment-link { display: none !important; }
}

/*-------------------------------------------------------------------
    SINGLE HERO
-------------------------------------------------------------------*/
.hero-container { padding-top: 3rem;
  @nest & .hero {
    @nest & .one-half { padding: 2rem 1rem;
      @nest &.hero-headshot img { max-width:100%; }
      @nest & h2 { font-size: 3em; padding-left: 60px; margin: 0;}
      @nest & blockquote { margin-top: 1rem; }
    }
  }
  @nest & .hero-story { padding: 130px 0 1rem 0; margin-top: -130px;
    @nest & .one-half { padding: 1rem; 
      @nest &:last-child { margin-top: -75px; }
      @nest & h4.hero-follow { margin-top: 3rem; color: var(--TertiaryColor); }
      @nest & .social-link { width: 35px; height: 35px; margin: 0 .5rem 0 0; padding: 8px; 
        @nest &:last-child { margin: 0; }
      }
      @nest & .hero-gallery { padding: 1rem;
        @nest & img { width: 100%; height: auto; margin-bottom: 1rem; }
      }
    }
  }
}
.reflection { padding-top: 3rem; }
.reflections-link { float: right; margin-top: .25rem; 
  @nest &:hover, &:focus { text-decoration: none; }
}
.share-post { width: 100%; padding: 3rem;
  @nest & .vertical-align-child { text-align: center; 
    @nest & h2 { margin: 0 0 1rem 0; }
    @nest & p { color: var(--SecondaryColor); font-size: 1em; line-height: 1.16; font-weight: 400; font-family: 'zona_probold';  }
    @nest & .social-link { width: 35px; height: 35px; margin: 0 .5rem 0 0; padding: 8px; 
      @nest &:last-child { margin: 0; }
    }
  }
}


/*-------------------------------------------------------------------
    SINGLE SUCCESS
-------------------------------------------------------------------*/
.success-preview { padding: 3rem 0;
  @nest & blockquote { padding-bottom: 1rem; }
  @nest & a.video-link:hover svg, & a.video-link:focus svg { transform: scale(1.25); }
  @nest .alm-reveal:nth-child(odd) &:nth-child(even) {
    background-color: var(--GreyColor); 
    @nest & .left-contents { order: 2; text-align: right; }
  }
  @nest .alm-reveal:nth-child(even) &:nth-child(odd) {
    background-color: var(--GreyColor); 
    @nest & .left-contents { order: 2; text-align: right; }
  }
  @nest & .left-contents { width:300px; 
    @nest & a { text-decoration: none; }
    @nest & img.headshot { width:250px; border-radius: 50%; margin-bottom: 25px; }
    @nest & svg.youtube { width: 75px; margin-left: 88px; display: inline-block; }
    @nest & p { display: inline-block; margin-left: 1rem; position: relative; top: -35px; font-size: .75em;
      @nest & svg { display: block; transform: rotate(180deg); height: .75rem; width: .75rem; margin-top: .25rem; }
    }
  }
  @nest & .right-contents { width: calc(100% - 300px);
    @nest & blockquote { margin-top: 0; }
    @nest & .description { padding: 0 75px; }
  }
}
.lity { background-color: hsla(0,0%,100%,.85) !important; }


/*-------------------------------------------------------------------
    SINGLE EVENT
-------------------------------------------------------------------*/
.post-type-archive-tribe_events, .single-tribe_events {
  @nest & .page-main-contents { order: 1; }
  @nest & aside { order: 2; margin: 3rem 0 1rem 50px; }
  @nest & h2 { margin-top: 4rem; }
  @nest & .page-title-contents h3 { font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif; letter-spacing: 2px; }
}
.tribe-events-list .type-tribe_events.tribe-events-first { margin-top: 3rem; }
.single-tribe_events .post-date { display: none; }
.tribe-events-nav-previous, .tribe-events-nav-next { padding: 0; background-image: none; }
.event-sponsors .vertical-align-parent { width: 100%; height: 100%; text-align: center;
  @nest & img { width: 100%; }
}
.event-speakers {
  @nest & .slide { padding: 0 .5rem; }
  @nest & .slick-track { transition: none; }
  @nest & .front {
    @nest & h3 { padding: 0 1.5rem; margin-bottom: 0; }
    @nest & p.title {     
      padding: 0 1.5rem;
      margin: .25rem 0 0 0;
      color: #005c75;
      letter-spacing: 1px;
      font-weight: bold;
      text-transform: uppercase;
      font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif; 
      font-size: .875em;
      line-height: 1.16;
    }
  }
  @nest & .back {
    @nest & h3 { margin-bottom: 0; }
    @nest & p.title { margin: 0 0 1.5rem 0; font-size: .875em; color: #a5cb5a; line-height: 1.16; font-weight: 400; font-family: 'zona_probold'; }
  }
  @nest & button.slick-arrow {  
    background-color: transparent;
    border: none;
    overflow: hidden;
    text-indent: 1000px;
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    outline: none;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    @nest &::after { display: none; }
    @nest &.slick-next { background-image: url(../img/icon-trianlge-green.svg); right: -28px; }
    @nest &.slick-prev{ background-image: url(../img/icon-trianlge-green.svg); transform: scaleX(-1); filter: fliph; left: -28px; }
  }
}
.event-venue {
  @nest & .venue-featured {    
    height: 250px;
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px; 
  }
  @nest & .gallery-item {
    height: 200px;
    border-radius: 6px;
    background-size: contain;
    background-position: center;
    margin-bottom: 1rem;
  }
}
.event-directions {
  @nest & .tribe-events-event-meta { background: transparent; border: none; margin: 0; }
  @nest & .tribe-events-meta-group-details, & .tribe-events-meta-group-venue { display: none; }
  @nest & .tribe-events-meta-group-gmap { padding: 0; margin: 0; }
}
.newsletter-widget  { background-color: var(--SecondaryColor); border-radius: 6px; padding: 1.5rem 2rem;
  @nest & h2 { margin: 10px 0 1rem 0; font-size: 2em;
    @nest & span { display: block; font-size: .75em; }
  }
  @nest & p { font-size: .85em; }
  @nest & .gform_wrapper .gfield_required { color: var(--WhiteColor) !important; }
  @nest & .gform_wrapper .gfield_error .gfield_label { color: var(--WhiteColor) !important; }
  @nest & .gform_wrapper li.gfield.gfield_error { padding: 0 !important; }
  @nest & form {
    @nest & label { color: var(--WhiteColor); }
    @nest & li { padding-right: 0 !important; }
    @nest & input { color: var(--WhiteColor); border-color: transparent; 
      @nest &.LV_valid_field { border-color: var(--PrimaryColor); }
    }
    @nest & input.button { width: 100% !important; }
  }
}
#field_1_7 label, #field_8_7 label { display: none; }
#field_1_7 li label, #field_8_7 li label { display: inline-block; }
.post-1429.type-tribe_events { display: none; }

/*-------------------------------------------------------------------
    SINGLE JOB
-------------------------------------------------------------------*/
.job-details { padding: 4rem 0 1rem 0;
  @nest & .one-half { width: 100%;
    @nest & img { max-width: 100%; }
    @nest & .icon-description {
      width: 200px;
      height: 200px;
      margin: 40px auto;
      background-position: center center;
      background-size: 100px;
      background-repeat: no-repeat;
      background-color: #efeee6;
      border-radius: 50%;
    }
    @nest & h2 { margin: 0; }
    @nest & a.apply-below { 
      display: block; 
      color: var(--SecondaryColor);
      text-transform: uppercase;
      margin: 1.5rem 0;
      text-decoration: none;
      @nest & svg { transform: rotate(90deg); margin: 0 0 0 .75rem; }
    }
    @nest & a.btn { margin-right: 1rem; }
  }
}
.application { padding: 3rem 0 5rem 0;
  @nest & h2 { text-align: center; }
  @nest & .gform_wrapper form { margin: 0 auto; background-color: var(--WhiteColor); max-width: 800px; padding: 1rem 2rem; border-radius: 6px; }
  @nest & form {
    @nest & ul#input_6_5, & ul#input_6_6 {
      @nest & li {
        width: 22% !important;
        margin: 0 2% 0 0;
        height: 80px;
        background: #efeee6;
        position: relative;
        background-repeat: no-repeat;
        background-size: 1.75rem 1.9rem;
        background-position: center top 16px;
        @nest & label { 
          position: absolute; 
          padding-top: 55px; 
          bottom: 0; 
          top: 0; 
          left: 0; 
          right: 0; 
          text-align: center; 
          max-width: 100%; 
          margin: 0; 
          border: 2px solid transparent;
        }
        @nest & input { opacity: 0; }
      }
      @nest & li.checkedd label { border: 2px solid var(--PrimaryColor); }
      @nest & li.gchoice_6_5_0, & li.gchoice_6_6_0 { background-image: url(../img/radio-home.svg); }
      @nest & li.gchoice_6_5_1, & li.gchoice_6_6_1 { background-image: url(../img/radio-mobile.svg); }
      @nest & li.gchoice_6_5_2, & li.gchoice_6_6_2 { background-image: url(../img/radio-work.svg); }
      @nest & li.gchoice_6_5_3, & li.gchoice_6_6_3 { background-image: url(../img/radio-other.svg); }
    }
    @nest & li#field_6_7 {
      @nest & label {
        background-color: #d8e9ef;
        border: 1px solid #d8e9ef;
        color: #005c75;
        padding: .75rem 1.5rem !important;
        position: relative;
        margin-top: 30px;
        @nest &::before {
          content: 'Attach a Resume';
          color: #000;
          position: absolute;
          top: -38px;
          left: 0;
          letter-spacing: 0;
        }
      }
      @nest & .ginput_container_fileupload {
        display: inline-block;
        width: calc(100% - 194px);
        background-color: rgba(239, 238, 230, 0.41);
        border: 1px solid var(--GreyColor);
        border-left: 0;
        padding: .75rem 1.5rem!important;
        line-height: 1.3;
        position: relative;
        margin: 0;
        float: right;
        top: 30px;
        min-height: 45px;

        @nest & #input_6_7{ display: none !important; }
        @nest & #extensions_message { color: #000; overflow: hidden; height: 20.57px; width:100%; display: block; }
      }
    }
  }
}
.single-jobs .editor-contents { margin-bottom: 3rem; }

/*-------------------------------------------------------------------
    STYLEGUIDE
-------------------------------------------------------------------*/
.styleguide-container { 
  padding-top: 25px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
#styleguide-sidebar {
  @nest & nav li { display: block; margin-bottom: .5rem;
    @nest & a { padding: .5rem .5rem .5rem 1rem; width: 100%; 
      @nest &:hover { background: var(--BlackColor); color: var(--WhiteColor); }
    }
  }
}
.styleguide-section { margin-top: 125px; position: relative;
  @nest &:first-child { margin-top: 0; }
  @nest & h2:nth-child(2) { margin-bottom: 50px; }
  @nest &:last-child { margin-bottom: 100px; }
}
.styleguide-sub-section { position: relative; width: 100%;
  @nest & h3 { margin-top: 50px; }
}
.styleguide-anchor { height: 10px; position: absolute; top: -125px; width: 200px; }
.sub-section-nav { border-bottom: 1px solid var(--GreyColor); padding: 0 0 4px 0; 
  @nest & a:hover { background: var(--BlackColor); color: var(--WhiteColor); }
}
.logo-section h2 { margin-top: 0; }
.primary-logo .full-width {
  border: 1px solid var(--GreyColor);
  padding: 50px;
  text-align: center;
  @nest & img { max-width: 75%; }
}
.varient-image {
  border: 1px solid var(--GreyColor);
  height: 350px;
  padding: 10px;
  width: 100%;
  @nest & .vertical-align-child { text-align: center;
    @nest & img { max-height: 300px; max-width: 100%; }
  }
}
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .varient-image .vertical-align-content img {
    width: 100%;
  }
}
.varient-description {
  border-top: none;
  border: 1px solid var(--GreyColor);
  display: table;
  height: 150px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  @nest & p { margin: 0; }
}
.primary-colors .one-fourth, .secondary-colors .one-fourth {
  margin-bottom: 20px;
  @nest & .color-swatch {
    border-bottom: 0;
    border: 1px solid var(--GreyColor);
    height: 125px;
    margin: 0;
    width: 100%;
  }
  @nest & .color-swatch-details { border: 1px solid var(--GreyColor); padding: 10px; }
  @nest & p { margin-bottom: 4px; }
}

.typeface .one-fourth {
  border: 1px solid var(--GreyColor);
  height: 130px;
  margin-bottom: 20px;
  text-align: center;
  @nest & p { margin-bottom: 8px; }
  @nest &:first-child p:first-child { font-family: 'zona_probold'; }
}
.headline-option { border-top: 2px solid var(--GreyColor); padding: 25px 8px; 
  @nest &:last-child { border-bottom: 2px solid var(--GreyColor); }
}
.headline-option p,
.headline-option h1, .headline-option h2, .headline-option h3,
.headline-option h4, .headline-option h5, .headline-option h6,
.headline-option .primary-button, .headline-option .secondary-button {
  background: transparent;
  border-radius: 0;
  border: none;
  margin: 0;
  padding: 0;
}
.p-buttons .button-continer, .s-buttons .button-continer { padding: 25px; }
.desktop img, .mobile img { max-width: 100%; }
.icons-container { 
  @nest & .one-fourth { margin-bottom: 1rem; }
  @nest & .vertical-align-parent { width: 100%; height: 100%; }
  @nest & .vertical-align-child { text-align: center; padding: 2rem; border: 1px solid var(--GreyColor);  
    @nest & img { max-width: 75px; max-height: 75px; }
  }
}
#styleguide-sidebar { height: 300px; }


/*-------------------------------------------------------------------
    SEARCH PAGE
-------------------------------------------------------------------*/
.popular-links {
  @nest & h3 { text-align: center; margin: 3rem 0 1rem 0; }
  @nest & nav { margin: 0 0 4rem 0; 
    @nest & #menu-search-nav { column-count: 4; display: block;
      @nest & li { display: block; }
    }
  }
}
form.searchform {
  @nest & input[type=text] { height: 41px; border-radius: 6px; width: calc(100% - 250px); padding: .5rem; }
}


/*-------------------------------------------------------------------
    404 / ERROR PAGE
-------------------------------------------------------------------*/
.error-option { margin: 0 auto; max-width: 600px; padding: 75px 10px; text-align: center; }
svg.error-icon { width: 200px; }
.error-option form.search-form label span.screen-reader-text { display: none; }
.error-option form input.search-field { border-radius: 8px; padding: 16px; width: calc(100% - 145px); }
.error-option form button.search-submit { vertical-align: top; }
#error-option-404 h1 { font-size: 250px; line-height: 1; margin: 0; }
#error-option-search h2 { font-size: 50px; margin: 0 0 20px 0; }
#error-option-awkward h2 {
  font-size: 80px;
  line-height: 90px;
  margin: 0;
  text-transform: uppercase;
}
#error-option-awkward h2 span { font-size: 105px; }
#error-option-pacman svg.error-icon { fill: #fe2601; }
#error-option-pacman span.error { font-size: 250px; line-height: 1; }
#error-option-pacman h2 { font-size: 100px; margin: 0; text-transform: uppercase; }
#error-option-lost h2 { font-size: 75px; line-height: .85; margin: 0 0 20px 0; }
#error-option-starwars svg.error-icon { color: #000; }
#error-option-starwars h2 { font-size: 35px; line-height: 70px; margin: 0; }
#error-option-starwars h2 span { font-size: 45px; }
#error-option-starwars p { margin: 20px 0 0 0; }

/*-------------------------------------------------------------------
    ABOUT VIDEO SECTION
-------------------------------------------------------------------*/
.about-video-section {
	padding: 2rem 0;
}
.video-wrapper {
	max-width: 800px;
	margin: 0 auto;
	position: relative;
}

/*-------------------------------------------------------------------
    RESPONSIVNESS BREAKING POINTS
-------------------------------------------------------------------*/

@media only screen and (max-width: 1024px) {
  /*--PRIMARY NAV --*/
  nav ul li a { padding: .5rem .75rem; }
  .primary-nav * { font-size: .875rem; }
  .primary-nav .logo-container { width: 210px;
    @nest & img { height: 40px; }
  }
  /*--SECONDARY NAV--*/
  nav.secondary-nav a { padding: .5rem; font-size: .875rem; }
  /*--SLIDER --*/
  .single-slide .slide-content h1 { font-size: 4rem; }
  /*-- EVENTS --*/
  .home-events .max-width { max-width: 850px; }
  .event-preview { max-width: 100%; }
  .event-preview.mini { width: calc(50% - .5rem);
    @nest &:nth-child(even) { margin-left: 0; margin-right: .5rem; }
    @nest &:nth-child(odd) { margin-left: .5rem; }
  }
  /*--CARDS--*/
  .card-flip .front h3 { font-size: 1.25em; padding: .25rem .5rem; }
  /*-- FOOTER --*/
  footer#footer .footer-contents .bottom .post-preview { width: 100%; padding: 0 !important; margin: 0 0 25px 0 !important; }
  /*--PAGE TEMPALTES --*/
  .page-title-container .page-title-contents { padding: 0 1rem; }
  .mission-container .mission .one-half h2, .hero-container .hero .one-half h2 { padding: 0; }
  .mission-container .mission .one-half blockquote, .hero-container .hero .one-half blockquote { padding: 60px 20px; }
  .mission-container .history-bg .history-closing { padding: 0 20px; }
  .speaker-slider-container .flip-container { width:100%; }
  /*--STYLEGUIDE--*/
  .varient-description { height: 200px; }
  .color-swatch-details p:first-child { height: 50px; }

  .single-location a.phone { display: block; width: 100%; text-align: left; margin: 1rem 0; }
}

@media only screen and (max-width: 800px) {
  /*--BASICS--*/
  .one-fourth { width: 48%; @nest &.full { width: 50%; } }
  /*--SLIDERS--*/
  ul.slick-dots { margin-left: 0; left: 1rem; }
  .single-slide .slide-content h1 { font-size: 3.5rem; }
  .single-slide .slide-content h2 { font-size: 3rem; }
  /*--CARDS--*/
  .card-icon { margin-bottom: 1rem; }
  .flip-container, .page-id-390 .card-container .card-flip, .page-id-391 .card-container .card-flip { width: 48%; }
  .success-stories .flip-container:last-child { display: none; }
  .page-id-507 .page-main-contents .card-flip { width: 98%; height: 300px;
    @nest & .front, & .back { height: 300px; }
    @nest & .front .card-img { height: 200px; }
  } 
  /*--PRIMARY NAV--*/
  .primary-nav { padding-bottom: 1rem; position: fixed;
    @nest & .logo-container { margin-top: 0; margin-left: .25rem; width: 200px; 
      @nest & img { height: 35px; }
    }
    @nest & .utility-nav { margin-bottom: 1rem;
      @nest & div.one-third { width: 48%; max-width: 48%; margin: 0 1%;
        @nest &.social-links { display: none; }
        @nest & a.one-third { width: 31%; }
      }
    }
    @nest & .mobile-menu { display: inline-block; margin-left: auto; 
      @nest & span { display: inline-block; line-height: 40px; }
      @nest & .menu-icon {  
        width: 40px;
        height: 40px;
        display: inline-block;
        border: 2px solid var(--BlackColor);
        border-radius: 6px;
        vertical-align: middle;
        margin-top: -.25rem;
        margin-left: .5rem;
        font-size: 0px;
        line-height: 0;
        @nest & .bar { 
          border-radius: 6px; 
          background: var(--BlackColor); 
          width: 40%; 
          height: 2px; 
          margin: 1px 30%; 
          position: relative; 
          top: 0; 
          display: inline-block;
          transition: all .25s linear 0s;
          @nest &.top { margin-top: 12px; }
        } 
      }
      @nest &.close .menu-icon { 
        @nest & .top { transform: rotate(45deg); position: relative; top: 5px; }
        @nest & .mid { opacity: 0; }
        @nest & .bot { transform: rotate(-45deg); position: relative; top: -3px; }
      }
    } 
    @nest & nav { position: absolute; top: 100%; left: 0; background-color: color( var(--WhiteColor) alpha(95%) ); max-height: 0; min-height: 0; overflow: hidden; transition: all .5s linear 0s;
      @nest &.open { max-height: 100vh; min-height: calc(100vh - 108px); overflow: scroll; }
      @nest & ul { height: auto;
        @nest & li { width: 100%; text-align: left; border-bottom: 1px solid var(--GreyColor); 
          @nest & a { padding: .5rem 2rem; line-height: 2rem; }
          @nest &#menu-item-1013, &#menu-item-1014 { display: inline-block; }
          @nest &#menu-item-1014 { 
            background-color: var(--SecondaryColor); 
            background-image: url(../img/donations-bg.png);
            background-repeat: no-repeat;
            background-position: 35% 50%;
            background-size: contain;
            @nest & a { color: var(--WhiteColor); }
          }
          @nest &#menu-item-403 a { padding: .5rem 2rem .5rem 3.5rem; 
            @nest &::before { left: 2rem; };
          }
          @nest &#menu-item-398, &#menu-item-398 a::before, &#menu-item-398 a::before { display: none; }
        }
      }
      @nest & > .social-links { display: block; padding: 1rem 2rem.5rem 2rem;
        @nest & a.social-link { height: 30px; width: 30px; padding: .5rem; }
      }
    }
  }
  /*--PAGE TEMPLATES--*/
  .csColumn { text-align: left !important; }
  .page-title-container { padding-top: 100px; }
  .page-title-slider { padding-top: 100px; 
    @nest & .single-slide { height: 400px; }
  }
  .roi .one-fourth { margin-bottom: 1rem; }
  .staff-preview.director, .staff-preview.member, .staff-preview-container .card-overlay { width: 48%; }
  .page-main-contents .page-contact-container .one-half { width: 100%; }
  .single-tribe_events .page-main-contents { width: 100%; }
  .single-tribe_events aside { width:100%; margin: 2rem 1rem 1rem 1rem; }
  .tribe-events-list .event-preview { flex-wrap: wrap;
    @nest & .event-date { width: 100%; }
    @nest & .event-contents { width: 100%; padding: 1rem 1rem 3rem 1rem; }
  }
  .blog-feed .card-post { width: 48%; }
  .job-preview { width:100%; margin: 0 0 1rem 0; }
  .hr-contact .one-half { margin-bottom: 0; }
  .impact-stat .impact-number { display: none; }
  .impact-stat .impaact-content { width: 100%; }
  .success-video { width:100%; }
  .testimonies blockquote { padding: 60px 20px 1rem 20px; }
  .page-id-510 .gallery-container .gallery-item { width: 33%; }
  /*STYLEGUIDE*/ 
  .styleguide-container .one-half { width: 100%; }
  .varient-description { height: auto; }
  .color-swatch-details p:first-child { height: auto; }
  .sub-section-nav li { padding: 20px 0; }
  .button-continer .primary-button, .button-continer .secondary-button { margin-bottom: 20px; }
  #styleguide-sidebar { width: 150px; }
  #styleguide-contents { width: calc(100% - 200px) }
}

@media only screen and (max-width: 700px) {
    /*--BASICS--*/
    .one-half, .one-third,.two-third, .one-fourth {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      @nest &.full { width: 100%; margin-left: 0; margin-right: 0; }
    }
    blockquote, q { padding: 60px 20px; }
    .max-width { padding-left: 25px; padding-right: 25px; }
    /*--PRIMARY NAV --*/
    .primary-nav .navs-container { display: none; }
    /*--SECONDARY NAV--*/
    nav.secondary-nav li.menu-item { display: inline-block; width: 50%; }
    nav.secondary-nav.blog-nav li.menu-item { width: 100%; margin-bottom: .5rem; }
    /*--BREADCRUMBS--*/
    .breadcrumbs-nav p .breadcrumb_last, .breadcrumbs-nav p a { margin-right: 0; font-size: .85rem; }
    /*--SLIDER--*/
    .single-slide {
      @nest & .slide-image { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
      @nest & .slide-content { background-color: color( var(--TertiaryColor) alpha(75%) ); position: relative; z-index: 2; }
    }
    /*--CARDS--*/
    .flip-card-title-container { padding-left: 10px; padding-right: 10px; }
    .card-cta { margin-bottom: 1rem; }
    /*--EVENTS--*/
    .event-preview {  
      @nest & .event-date { width: 100%; }
      @nest & .event-contents { width: 100%; padding: 1rem 1rem 3.25rem 1rem; 
        @nest & a.location { left: 1rem; right: 1rem; }
      }
      @nest &.mini { width: 100%; margin: 0 0 1rem 0 !important; }
    }
    /*--GALLERY--*/
    .gallery-container .gallery-item { width: 50%; }
    /*--BACKGROUND IMAGE CONTENT --*/
    .content-with-bg .contents { padding: 0 1rem; }
    .content-with-bg .contents h2, .donation-cta h2 { font-size: 2.25em; }
    /*--FOOTER--*/
    footer#footer { padding-bottom: 40px; }
    footer#footer .follow-container { background: var(--WhiteColor); min-height: 150px;
      @nest & .social-links { display: none; } 
    }
    footer#footer .footer-contents .top { display: block;
      @nest & img.footer-logo { margin: -41px auto 0 auto; display: block; }
      @nest & nav { padding-top: 1rem; margin-bottom: 1.5rem;
        @nest & ul { display: block;
          @nest & li { width: 100%; display: block; padding: .5rem 0; }
        }
      }
    }
    footer#footer .footer-contents .bottom { display: none; }
    footer#footer .mobile { display: block; text-align: center; }
    footer#footer .copyright-container p#copyright { text-align: center; }
    footer#footer .copyright-container #e5-credit { float: none; margin-top: 10px; font-size: .75rem; text-align: center; display: block; }
    /*--PAGE TEMPLATES--*/
    .back-to-top svg { width: 100%; left: 0; right: 0; bottom: 0; height: 40px; }
    .page-contents img.alignleft,
    .page-contents img.alignright,
    .page-contents img.aligncenter {
      float: none;
      height: auto;
      margin: .75rem auto;
      width: 100%;
    }
    .sidebar, #styleguide-sidebar {
      margin: 50px 0;
      position: initial !important;
      width: 100%;
    }
    .sidebar-template .page-main-contents { width:100%; }
    .sidebar-template aside { width: 100%; order: 2; margin: 0 0 1rem 0; }
    .share-page br { display: none; }
    .sidebar-page-contents, #styleguide-contents { width: 100%; }
    .section-title-container { padding-left: 1rem; padding-right: 1rem; }
    .page-title-container .page-title-contents h1.page-title { font-size: 2em; }
    .help-container .one-half { margin-bottom: 1rem; }
    .auto-slider .slick-dots { right: auto; left: 1rem; margin-left: 0; margin-right: 0; }
    .mission-container .history, .hero-container .hero-story { padding: 1rem 0; margin-top: 0; }
    .mission-container .history .one-half:last-child, .hero-container .hero-story .one-half:last-child { margin-top: 0; }
    .mission-container .history-bg { padding: 3rem 0; }
    .staff-preview.director, .staff-preview.member, .staff-preview-container .card-overlay { width: 100%; }
    .staff-preview-container .card-overlay.open .card-info .card-headshot { display: block; margin: 0 auto 1rem auto; }
    .staff-preview-container .card-overlay.open .card-info .details { width: 100%; margin-left: 0; }
    .staff-preview-container .card-overlay .card-info .details h6 { margin-bottom: 0; }
    .page-id-390 .card-container .card-flip, .page-id-391 .card-container .card-flip { width: 100%; }
    .sponsor-container .one-third { margin-bottom: 1rem; }
    .venue-gallery { display: none; }
    .page-contact-container.grey-bg .one-half { margin-bottom: 1rem; }
    ul#input_1_5 li { display: inline-block; min-width: 30%; text-align: center; }
    ul#input_1_5 li label { width: 100%; }
    .retail-container > .flex-container { flex-wrap: wrap; }
    .locations { margin-top: 2rem; }
    .single-location a.map { width: 100%; margin-bottom: 1rem; }
    .single-location a.map span { display: block; width: 100%; margin-top: 1rem; }
    .single-location a.phone { width: 100%; text-align: left; }
    .other-support-container .flex-container .one-third { margin-bottom: 1rem; }
    .blog-feed .card-post { width: 100%; }
    .job-preview .description { padding-bottom: 125px;
      @nest & .text-description { width: 100%; margin: 0; }
      @nest & .icon-description { display: none; }
    }
    .job-details { padding: 2rem 1rem 1rem 1rem; }
    .page-id-510 .gallery-container .gallery-item { width: 100%; }
    /*--STYLEGUIDE--*/
    #styleguide-sidebar nav { text-align: center; }
    #styleguide-sidebar nav li { display: inline-block; }
    #styleguide-sidebar nav li a {
      background: var(--GreyColor);
      border-radius: 8px;
      border: 2px solid var(--GreyColor);
      display: inline-block;
      font-weight: 800;
      margin: 0 0 0 0;
      padding: 3px 5px;
      text-decoration: none;
      text-transform: uppercase;
    }
}

@media print {
  @page { size:8.5in 11in; margin: 2cm }
  body, .page-contents-container, .editor-contents {
     width: 100%;
     margin: 0;
     float: none;
     background: #fff url(none);
  }
  .primary-nav, nav.secondary-nav, .breadcrumbs-nav, aside, .share-post, #comments, #footer { display: none; }
  .page-title-container { background: none; min-height: 0; }
  .page-title-container h1 { color: var(--BlackColor); }
  body { color: var(--BlackColor); font-size: 12px; }
  h1,h2,h3,h4,h5,h6 { color: var(--BlackColor); }
  h1 { font-size: 250%; }
  h2 { font-size: 175%; }
  h3 { font-size: 135%; }
  h4 { font-size: 100%; font-variant: small-caps; }
  h5 { font-size: 100%; }
  h6 { font-size: 90%; font-style: italic; }
  a:link, a:visited {
     color: #0051a2;
     font-weight: bold;
     text-decoration: underline;
  }
  .job-preview.one-half { width: 100%; border-bottom: 2px solid #efeee6; }
  .job-preview .details { border: none; }
  .job-preview .details a.icon { display: none; }
  .application { display: none; }
  .job-details .one-half a.btn.email { display: none; }
  .hr-contact .one-half { width: 100%; }
  .hr-contact .one-half a.btn.email { display: none; }
  .hr-contact .one-half img { display: none; }
  .event-preview .event-date { width: 100%; background: transparent; }
  .event-preview .event-date p { margin: 0; color: var(--BlackColor); }
  .event-preview .event-date p span { display: inline-block; font-size: 18px !important; }
  .card-container { display: none; }
  .event-preview .event-contents a.location { border: none; }
  .event-preview .event-contents { width: 100%; padding: 1rem; }
  .sidebar-template .page-main-contents { width: 100%; }
  .page-contact-container .one-half { width: 100%; }
  .page-contact-container iframe { display: none; }
  .event-speakers, .event-venue .venue-featured, .venue-gallery, .event-directions { display: none; }
}